body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #858992;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #cdcdcd;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #676c73;
    font-size: 24px;
}

input[type="text"] {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    background: #ededed;
    box-sizing: border-box;
}

input[type="text"]:focus {
    border-color: #d1d5db;
    outline: none;
}

.result {
    min-height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #676c73;
    text-align: center; 
}

.result span {
    color: #676c73;
}

button {
    margin: 5px;
    width: 170px;
    background-color: #858992;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

button:hover {
    transform: scale(1.05);
}

#clearBtn {
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}


.language-selector {
    text-align: right;
    margin-bottom: 10px;
}


.lang-btn img {
    width: 30px;  
    height: 20px; 
    object-fit: cover; 
    vertical-align: middle; 
}

.lang-btn {
    margin: 0 2px;
    width: auto;
    padding: 3px 5px; 
    
    background: #ededed;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: none; 
    color: transparent; 
}


.lang-btn:not(.active):hover {
    background-color: #dcdcdc;
}


.lang-btn.active {
    background-color: #c0c0c0; 
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.comment-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid #d1d5db;
    min-height: 70px; 
}

#commentOutput {
    margin: 0;
    font-size: 14px;
    text-align: left;
    flex-grow: 1;
    color: #676c73;
    word-break: break-all;
    padding-right: 5px;
}


.small-copy-btn {
    width: auto;
    padding: 5px 10px;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    background-color: #858992; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    color: white; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.small-copy-btn:hover {
    transform: scale(1.05); 
}


@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    input[type="text"] {
        padding: 10px;
        font-size: 14px;
    }

    .result {
        font-size: 16px;
    }

    .paste-btn {
        width: 44px; 
        height: 44px; 
        
    }
}


.input-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}   

.input-group input[type="text"] {
    margin: 0; 
    margin-right: 5px; 
    flex-grow: 1; 
}

.paste-btn {
    width: 80px; 
    height: 44px; 
    padding: 0;
    margin: 0;
    
    background-color: #d1d5db; 
    color: #676c73;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s; 
    font-size: 10px;
    transform: none;
}

.paste-btn:hover {
    background-color: #c0c0c0;
    transform: scale(1.05);
}

.time-space {
    margin-right: 5px;
}